.reminder-list {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 6px;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
    opacity: 0;
}

.reminder-list h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.reminder-list h2 span:hover {
    cursor: pointer;
}

.reminder-list form {
    display: flex;
    margin-bottom: 20px;
}

.reminder-list input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin-right: 10px;
    color: white;
    background-color: var(--color-main);
    border: 1px solid #ccc;
}

.reminder-list button[type="submit"] {
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border: 1px solid #ccc;
}

.reminder-list button[type="submit"] span {
    color: white;
    position: relative;
    top: 3px;
}

.reminder-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease-in-out;
}

.reminder-list .reminder-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.reminder-list .reminder-item button {
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.reminder-list .reminder-item button span {
    position: relative;
    color: white;
    top: 4px;
}

.reminder-list .reminder-item button .is-repeat {
    color: var(--color-pink);
}