:root {
    --color-red: rgb(186, 73, 73);
}

a {
    text-decoration: none;
    color: white;
}

.container-fluid {
    background-color: var(--color-red);
}

.navbar {
    padding: 10px 0;
}

.logo {
    text-decoration: none !important;
    color: white;
}

.logo span {
    padding: 2px 5px;
}

.logo h2 {
    font-size: 24px;
}

.goal:hover {
    cursor: pointer;
}

.pomodoro {
    background-color: rgba(255, 255, 255, 0.1);
    height: 302px;
    width: 480px;
    padding: 20px 0;
    margin: 40px 0 ;
    border-radius: 6px;
}

.list-group-item {
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.list-group-item.active {
    background-color: var(--color-red);
    border-color: var(--color-red);
}

.time-remains {
    font-size: 120px;
    font-weight: bold;
}

.main-btn {
    color: var(--color-red);
    display: block;
}

@keyframes shaker {
	0% { -webkit-transform: translate(2px, 0); }
	50% { -webkit-transform: translate(-2px, 0); }
	100% { -webkit-transform: translate(2px, 0); }
}

.shake {
	-webkit-animation-name: shaker;
	-webkit-animation-duration: 0.1s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-timing-function: linear;
}

.fullcalendar {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 6px;
}

::-webkit-scrollbar {
    width: 0;
}

/* width */
.fullcalendar ::-webkit-scrollbar {
    width: 20px;
}

/* Track */
.fullcalendar ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
.fullcalendar ::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 10px;
}

/* Handle on hover */
.fullcalendar ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.1);     
}

.task {
    margin-bottom: 40px;
}

.taskInput {
    background-color: transparent;
    color: white;
    border: 0;
    text-align: center;
}

.taskInput:focus {
    outline: none;
}

::placeholder { 
    color: white;
}